@charset "utf-8";
@import url("../../00_common/font/NotoSansKR/fonts.css");
@import url("../../00_common/font/SCDream/fonts.css");
@import url("../../00_common/font/NanumGothic/fonts.css");
@import url("../../00_common/font/XEIcon-2.3.3/xeicon.css");
@import url("../../00_common/font/RemixIcon_Fonts_v4.6.0/remixicon.css");
@import url("../../00_common/font/pretendard/pretendard-gov.css");
@import url("../../00_common/font/SUITE/SUITE-Variable.css");
/*-------------------------------------------------
Author : KLIC
Create date : 2020. 04. 27. RESET SY,CHo
-------------------------------------------------*/

/* reset.css */

html {
    font-size: 20px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Escoredream', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #333;
    letter-spacing: -0.5px;
}

ul,
ol,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: middle;
    font-size: 0;
    border: 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table td,
table th {
    vertical-align: middle;
}

caption,
legend {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

select,
input,
textarea {
    font-family: 'Escoredream', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #444;
}

select,
input {
    vertical-align: middle;
}

address,
em,
i {
    font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: 'Escoredream', sans-serif;
    font-size: 100%;
    color: inherit;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

hr {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    border: none;
}

figure,
figcaption,
p {
    margin: 0;
    padding: 0;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    line-height: 1;
    border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* -webkit-appearance: button; -moz-appearance: button; appearance: button; */
}

/* iOS의 기본 스타일은 제거되고, css에서 사용자가 정의한 스타일로 반영 */

header,
footer,
article,
section,
aside,
nav,
main {
    display: block;
}

small {
    font-size: 0.65rem;
}

/* Add the correct font size in all browsers. */

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */

sub,
sup {
    position: relative;
    line-height: 0;
    vertical-align: baseline;
    font-size: 0.6rem;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

b,
strong {
    font: inherit;
}

/* Skip 메뉴 */

#skipArea {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    z-index: 1000;
}

#skipArea a {
    display: block;
    width: 100%;
    line-height: 0px;
    text-align: center;
    font-size: 0px;
}

#skipArea a:focus,
#skipArea a:hover,
#skipArea a:active {
    position: absolute;
    top: 1000px;
    left: 0px;
    display: block;
    padding: 8px 0;
    height: 30px;
    line-height: 18px;
    font-size: 0.6rem;
    font-weight: bold;
    color: #fff;
    background: #20262c;
}

.hidden {
    display: none;
}

.hid,
.sr-only {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.al {
    text-align: left !important;
}

.ac {
    text-align: center !important;
}

.ar {
    text-align: right !important;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.bodyFix {
    height: 100vh;
    overflow: hidden;
}

.d_none {
    display: none !important;
}

.clearfix {
    *zoom: 1;
}

/* 플롯시 컨텐츠 공백 해결 */

.clearfix:after {
    clear: both;
    display: block;
    content: '';
}

kd
/* jquery ui 팝업 */

.ui-dialog {
    padding: 0 !important;
}

.ui-dialog.normalPopup {
    border: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ui-dialog.normalPopup .ui-dialog-titlebar {
    border-radius: 0 !important;
    border-color: #253851 !important;
    color: #fff;
    background: #253851 !important;
}

.ui-dialog.normalPopup .ui-dialog-content {
    padding: 0;
    width: auto;
    height: auto;
    min-width: 300px;
    max-width: 80vw;
}

.ui-dialog.normalPopup .ui-dialog-content>a {
    display: block;
    text-align: center;
    width: 100%;
    max-height: calc(80vh - 50px);
    overflow: auto;
    border-bottom: 1px solid #ddd;
}

.ui-dialog.normalPopup .fileCnt {
    padding: 0.5rem 0.5rem;
}

.ui-dialog.normalPopup .fileCnt>a {
    position: relative;
    display: inline-block;
    font-size: 0.7rem;
    padding-left: 0.5rem;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-dialog.normalPopup .fileCnt>a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #253851;
}

.ui-dialog.normalPopup .fileCnt>a+a {
    margin-top: 0.25rem;
}

.ui-dialog.normalPopup .popBtns {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #666;
    height: 40px;
    padding: 10px;
    font-size: 13px;
    text-align: right;
}

.ui-dialog.normalPopup .popBtns a {
    text-align: center;
    color: #fff;
}

.ui-dialog.normalPopup .popBtns a+a {
    margin-left: 1rem;
}

.ui-dialog.normalPopup .popBtns a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    /* jquery ui 팝업 */
    .ui-dialog.normalPopup {
        width: 95% !important;
        margin: 5vh 2.5%;
    }
    .ui-dialog.normalPopup .ui-dialog-content {
        min-width: 280px;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 17px;
    }
}