/* 통합검색 */

.totalSearch {
    width: 10rem;
    height: 1.9rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.totalSearch:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    border: 2px solid #e4e4e4;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.totalSearch input {
    padding: 0 2.25rem 0 0.5rem;
    width: 100%;
    height: 1.9rem;
    line-height: 1.9rem;
    font-size: 0.6rem;
    border: none;
    font-family: '돋움', Dotum;
    background: none;
}

.totalSearch button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    background: #007a9f;
    border-radius: 0.7rem;
    width: 1.9rem;
    height: 1.9rem;
    line-height: 1.9rem;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    /*.9rem */
}

.totalSearch input::-webkit-input-placeholder {
    color: #555;
}

.totalSearch input::placeholder {
    color: #555;
}

#header:before {
    display: none;
}

/* header 하단 라인 */

/* gnb color */

/* gnb : default */

#gnb {
    background: #007a9f;
}

/* gnb 배경색 */

#gnb .depth01>ul>li.on>a {
    color: #fff !important;
}

/* 1차메뉴 active 텍스트 색상 */

#gnb .depth01>ul>li>a {
    color: #fff;
}

/* 1차메뉴 텍스트 색상 */

#gnb .depth01>ul>li>a:before {
    background: #fff;
}

/* 1차메뉴 active underline 색상*/

#gnb .depth01>ul>li>a>span:before {
    background: rgba(255, 255, 255, 0.15);
}

/* 1차메뉴 active 그림자 색상 */

#gnb .depth02>ul>li>a {
    color: #111;
}

/* 2차메뉴 텍스트 색상 */

/* gnb : fullDown */

#nav.fullDown #gnb:before {
    height: 1px;
    background: transparent;
}

/* 메뉴하단라인 */

#nav.fullDown .active .depth01>ul>li>a {
    color: #fff;
}

#nav.fullDown .depth02>ul>li>a:hover,
#nav.fullDown .depth02>ul>li>a:focus,
#nav.fullDown .depth02>ul>li.active>a {
    color: #fff;
    background: #007a9f;
}

/* 2차메뉴 active 효과 */

/* gnb : oneDown */

#nav.oneDown #gnb:before {
    height: 1px;
    background: transparent;
}

/* 메뉴하단라인 */

#nav.oneDown .depth02 {
    border: 2px solid #007a9f;
}

/* 2차메뉴 border-color */

#nav.oneDown .depth02>ul>li>a:hover,
#nav.oneDown .depth02>ul>li>a:focus,
#nav.oneDown .depth02>ul>li.dep.active>a {
    color: #007a9f;
    font-weight: 600;
}

/* 2차메뉴 active 텍스트 색상 */

/* gnb : oneFull */

#nav.oneFull #gnb:before {
    height: 1px;
    background: transparent;
}

/* 메뉴하단라인 */

#nav.oneFull .depth02>ul>li>a:hover,
#nav.oneFull .depth02>ul>li>a:focus,
#nav.oneFull .depth02>ul>li.dep.active>a {
    color: #fff;
    background: #007a9f;
}

/* 2차메뉴 active 배경색 */

#nav.oneFull .depth03>ul>li>a:before {
    background: #007a9f;
}

/* 3차메뉴 블릿 색상 */

/* footer */

#footer {
    border-top: 1px solid #d1d8e4;
    color: #000;
    background: #fff;
}

/* footer 배경, 폰트색상, border */

.footer_link li a:before {
    border-left: 1px solid #bbb;
}

/* footer link 영역 라인색상 */

.footer_link li a {
    color: #000;
}

.footer_link li a strong {
    color: #0e8de7;
}

/* footer link 강조 폰트색상 */

#footer address {
    color: #000;
}

#footer .copyright {
    color: #717070;
}

/* copyright 폰트색상 */

#footer .btn_top {
    background: #0e8de7;
    color: #fff;
}

/* footer 상단이동 버튼 색상 */

/* 방문자수 */

.visitant {
    background: #0e8de7;
}

.visitant ul li {
    color: #fff;
}

.visitant ul li strong {
    color: #fff;
}

.visitant ul li+li:before {
    border-left: 1px solid #ccc;
}

/* moblie  */

#header .mBtn.mSearch {
    border-radius: 0.8rem;
    background: #007a9f;
    color: #fff;
}

/* 모바일 검색 버튼 */

#header .mBtn.mNav {
    border-radius: 0.8rem;
    background: #ff5e6b;
    color: #fff;
}

/* 모바일 메뉴 버튼 */

/* moblie navigation  */

#mNav #mNavClose {
    border-radius: 0.8rem;
    background: #ff5e6b;
    color: #fff;
}

/* 모바일 메뉴 닫기 버튼 */

#mgnb .depth02 {
    background: #f7faff;
}

/* 2차메뉴 배경 */

#mgnb .depth02>ul>li:before {
    background: #ff5e6b;
}

/* 2차메뉴 블릿 색상*/

#mgnb .depth03 {
    border-top: 2px solid #ff5e6b;
}

/* 3차메뉴 border 색상 */

#mgnb .depth01>ul>li.active>a {
    color: #fff;
    background-color: #ff5e6b;
}

/* 1차메뉴 active */

#mgnb .depth02>ul>li.active>a {
    color: #ff5e6b;
}

/* 2차메뉴 active */

/* moblie search  */

#mSearch .btnSearch {
    background: #007a9f;
    color: #fff;
}

#mSearch .btnClose {
    border-radius: 0.8rem;
    background: #007a9f;
    color: #fff;
}